.price{
    color:red;
    font-size: 15pt;
}
.fontImg{
    position: relative;
    width:30px;
    float:right;
    top:-5px;

}
.ax_default{
    text-align: center;
}
.chanong{
    position: absolute;
    top: 1700px;
    left: 80px;

}
#base {
    width: 950px;
    height: 1000px;
    position:relative;
    top: -400px;
    left: -280px;

}

#u183 {
    position:absolute;
    left:469px;
    top:471px;
    width:129px;
    height:30px;
}
#u183_input {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:30px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
}
#u183_input:disabled {
    color:grayText;
}
#u184_div {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:40px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);


}
#u184 {
    position:absolute;
    left:340px;
    top:466px;
    width:64px;
    height:40px;
}
#u185 {
    position:absolute;
    left:2px;
    top:12px;
    width:60px;
    word-wrap:break-word;
}
#u186 {
    position:absolute;
    left:726px;
    top:471px;
    width:129px;
    height:30px;
}
#u186_input {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:30px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
}
#u186_input:disabled {
    color:grayText;
}
#u187 {
    position:absolute;
    left:970px;
    top:471px;
    width:129px;
    height:30px;
}
#u187_input {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:30px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
}
#u187_input:disabled {
    color:grayText;
}
.u189_div {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:430px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.u189 {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:430px;
}
.u190 {
    position:absolute;
    left:2px;
    top:207px;
    width:308px;
    visibility:hidden;
    word-wrap:break-word;
}
.u191_img {

    margin: 10px auto 0 auto;

}
.u191 {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:240px;
}
.u192 {
    position:absolute;
    left:2px;
    top:112px;
    width:308px;
    visibility:hidden;
    word-wrap:break-word;
}
.u193_div {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:50px;

    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'David Bold', 'David';
    font-weight:700;
    font-style:oblique;
    font-size:20px;
}
.u193 {
    position:absolute;
    left:0px;
    top:240px;
    width:312px;
    height:50px;
    font-family:'David Bold', 'David';
    font-weight:700;
    font-style:oblique;
    font-size:20px;
}
.u194 {
    position:absolute;
    left:2px;
    top:13px;
    width:308px;
    word-wrap:break-word;
}
.u195_div {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:50px;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'David Bold', 'David';
    font-weight:700;
    font-style:oblique;
}
.u195 {
    position:absolute;
    left:0px;
    top:290px;
    width:312px;
    height:50px;
    font-family:'David Bold', 'David';
    font-weight:700;
    font-style:oblique;
}
.u196 {
    position:absolute;
    left:2px;
    top:17px;
    width:308px;
    word-wrap:break-word;
}
#button1{
    margin-top:-10px;
    margin-left: -15px;
    width:150px;
    height:50px;
    background:#66B3FF;
    border-radius:15px;
    outline:none;
    color:white;
}
#button2{
    margin-top:-10px;
    margin-left: -15px;
    width:150px;
    height:50px;
    background:#66B3FF;
    border-radius:15px;
    outline:none;
    color:white;
}
#button3{
    margin-top:-10px;
    margin-left: -15px;
    width:150px;
    height:50px;
    background:#66B3FF;
    border-radius:15px;
    outline:none;
    color:white;
}
#button4{
    margin-top:-10px;
    margin-left: 50px;
    width:150px;
    height:50px;
    background:red;
    border-radius:15px;
    outline:none;
    color:white;
}
.u197 {
    position:absolute;
    left:96px;
    top:360px;
    width:116px;
    height:40px;
}
.u198 {
    position:absolute;
    left:2px;
    top:12px;
    width:112px;
    word-wrap:break-word;
}
#u188-1 {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:430px;
}
#u188-2 {
    position:absolute;
    left:312px;
    top:0px;
    width:312px;
    height:430px;
}
#u188-3 {
    position:absolute;
    left:624px;
    top:0px;
    width:312px;
    height:430px;
}
#u188 {
    position:absolute;
    left:289px;
    top:516px;
    width:936px;
    height:430px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
}

#u199_div {
    position:absolute;
    left:0px;
    top:0px;
    width:926px;
    height:170px;
    background:inherit;
    background-color:rgba(204, 204, 204, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'叶根友毛笔行书2.0版 Bold', '叶根友毛笔行书2.0版';
    font-weight:700;
    font-style:normal;
    font-size:48px;
}
#u199 {
    position:absolute;
    left:289px;
    top:956px;
    width:926px;
    height:170px;
    font-family:'叶根友毛笔行书2.0版 Bold', '叶根友毛笔行书2.0版';
    font-weight:700;
    font-style:normal;
    font-size:48px;
}
#u200 {
    position:absolute;
    text-align: center;
    margin-top: 50px;
    width:922px;
    word-wrap:break-word;
}
#u201_div {
    position:absolute;
    left:0px;
    top:0px;
    width:926px;
    height:510px;
    background:inherit;
    box-sizing:border-box;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u201 {
    position:absolute;
    left:289px;
    top:1141px;
    width:926px;
    height:510px;
}
#u202 {
    position:absolute;
    left:2px;
    top:247px;
    width:922px;
    visibility:hidden;
    word-wrap:break-word;
}
#u203_div {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:40px;
    box-sizing:border-box;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u203 {
    position:absolute;
    left:340px;
    top:1461px;
    width:103px;
    height:40px;
}
#u204 {
    position:absolute;
    left:2px;
    top:12px;
    width:99px;
    word-wrap:break-word;
}
#u205 {
    position:absolute;
    left:469px;
    top:1461px;
    width:386px;
    height:40px;
}
#u205_input {
    position:absolute;
    left:0px;
    top:0px;
    width:386px;
    height:40px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
}

#u206 {
    position:absolute;
    left:855px;
    top:1461px;
    width:257px;
    height:40px;
    color:#000000;
}
#u207 {
    position:absolute;
    left:2px;
    top:12px;
    width:253px;
    word-wrap:break-word;
}
#u208_div {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:40px;
    box-sizing:border-box;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u208 {
    position:absolute;
    left:340px;
    top:1391px;
    width:103px;
    height:40px;
}
#u209 {
    position:absolute;
    left:2px;
    top:12px;
    width:99px;
    word-wrap:break-word;
}
#u210 {
    position:absolute;
    left:469px;
    top:1391px;
    width:386px;
    height:40px;
}
#u210_input {
    position:absolute;
    left:0px;
    top:0px;
    width:386px;
    height:40px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
}

#u211 {
    position:absolute;
    left:855px;
    top:1391px;
    width:257px;
    height:40px;
    color:#000000;
}
#u212 {
    position:absolute;
    left:2px;
    top:12px;
    width:253px;
    word-wrap:break-word;
}
#u213_div {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    box-sizing:border-box;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u213 {
    position:absolute;
    left:340px;
    top:1321px;
    width:103px;
    height:40px;
}
#u214 {
    position:absolute;
    left:2px;
    top:12px;
    width:99px;
    word-wrap:break-word;
}

#u215 {
    position:absolute;
    left:855px;
    top:1321px;
    width:257px;
    height:40px;
    color:#000000;
}
#u216 {
    position:absolute;
    left:2px;
    top:12px;
    width:253px;
    word-wrap:break-word;
}
#u217_div {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:40px;
    box-sizing:border-box;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u217 {
    position:absolute;
    left:340px;
    top:1251px;
    width:103px;
    height:40px;
}
#u218 {
    position:absolute;
    left:2px;
    top:12px;
    width:99px;
    word-wrap:break-word;
}
#u219 {
    position:absolute;
    left:469px;
    top:1251px;
    width:386px;
    height:40px;
}
#u219_input {
    position:absolute;
    left:0px;
    top:0px;
    width:386px;
    height:40px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
}
#u220 {
    position:absolute;
    left:855px;
    top:1251px;
    width:257px;
    height:40px;
    color:#000000;
}
#u221 {
    position:absolute;
    left:2px;
    top:12px;
    width:253px;
    word-wrap:break-word;
}
#u222_div {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:40px;
    background:inherit;
    box-sizing:border-box;


    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u222 {
    position:absolute;
    left:340px;
    top:1181px;
    width:103px;
    height:40px;
}
#u223 {
    position:absolute;
    left:2px;
    top:12px;
    width:99px;
    word-wrap:break-word;
}
#u224 {
    position:absolute;
    left:469px;
    top:1181px;
    width:386px;
    height:40px;
}
#u224_input {
    position:absolute;
    left:0px;
    top:0px;
    width:386px;
    height:40px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
}

#u225 {
    position:absolute;
    left:855px;
    top:1181px;
    width:257px;
    height:40px;
    color:#000000;
}
#u226 {
    position:absolute;
    left:2px;
    top:12px;
    width:253px;
    word-wrap:break-word;
}
#u227 {
    position:absolute;
    left:469px;
    top:1321px;
    width:386px;
    height:40px;
}
#u227_input {
    position:absolute;
    left:0px;
    top:0px;
    width:386px;
    height:40px;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
}
#u227_input:disabled {
    color:grayText;
}

#u228 {
    position:absolute;
    left:572px;
    top:1541px;
    width:180px;
    height:40px;
}
#u229 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    word-wrap:break-word;
}
#u230 {
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
}
#u231_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1484px;
    height:336px;
}
#u231 {
    position:absolute;
    left:-6px;
    top:120px;
    width:1484px;
    height:336px;
}
#u232 {
    position:absolute;
    left:2px;
    top:160px;
    width:1480px;
    visibility:hidden;
    word-wrap:break-word;
}
#u233 {
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
}
#u234_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1655px;
    height:115px;
}
#u234 {
    position:absolute;
    left:-177px;
    top:5px;
    width:1655px;
    height:115px;
}
#u235 {
    position:absolute;
    left:2px;
    top:50px;
    width:1651px;
    visibility:hidden;
    word-wrap:break-word;
}
#u236_div {
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:55px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u236 {
    position:absolute;
    left:253px;
    top:40px;
    width:143px;
    height:55px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u237 {
    position:absolute;
    left:0px;
    top:16px;
    width:143px;
    word-wrap:break-word;
}
#u238_img {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:61px;
}
#u238 {
    position:absolute;
    left:74px;
    top:34px;
    width:182px;
    height:61px;
}
#u239 {
    position:absolute;
    left:2px;
    top:22px;
    width:178px;
    visibility:hidden;
    word-wrap:break-word;
}
#u240_div {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:46px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u240 {
    position:absolute;
    left:386px;
    top:44px;
    width:126px;
    height:46px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u241 {
    position:absolute;
    left:0px;
    top:12px;
    width:126px;
    word-wrap:break-word;
}
#u242_div {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:38px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u242 {
    position:absolute;
    left:523px;
    top:49px;
    width:130px;
    height:38px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u243 {
    position:absolute;
    left:0px;
    top:8px;
    width:130px;
    word-wrap:break-word;
}
#u244_div {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    height:39px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u244 {
    position:absolute;
    left:660px;
    top:49px;
    width:117px;
    height:39px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u245 {
    position:absolute;
    left:0px;
    top:8px;
    width:117px;
    word-wrap:break-word;
}
#u246_div {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:37px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u246 {
    position:absolute;
    left:779px;
    top:50px;
    width:149px;
    height:37px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u247 {
    position:absolute;
    left:0px;
    top:7px;
    width:149px;
    word-wrap:break-word;
}
#u248_div {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:31px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u248 {
    position:absolute;
    left:1035px;
    top:55px;
    width:120px;
    height:31px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u249 {
    position:absolute;
    left:0px;
    top:4px;
    width:120px;
    word-wrap:break-word;
}
#u250_div {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:37px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u250 {
    position:absolute;
    left:916px;
    top:51px;
    width:119px;
    height:37px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u251 {
    position:absolute;
    left:0px;
    top:7px;
    width:119px;
    word-wrap:break-word;
}
#u252_div {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:29px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u252 {
    position:absolute;
    left:1154px;
    top:55px;
    width:129px;
    height:29px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u253 {
    position:absolute;
    left:0px;
    top:3px;
    width:129px;
    word-wrap:break-word;
}
#u254_div {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:32px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u254 {
    position:absolute;
    left:1268px;
    top:55px;
    width:132px;
    height:32px;
    font-size:20px;
    color:#FFFFFF;
    text-align:center;
}
#u255 {
    position:absolute;
    left:0px;
    top:4px;
    width:132px;
    word-wrap:break-word;
}
